<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91">
        <a href=""><img src="images/banners/03-1200x140.jpg" alt="" width="100%"></a>
    </div>
</div>
<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91 bg-white py-2 px-3">
        Tìm kiếm nhiều:
        <a class="pl-3" href="">Truyện tranh</a>
        <a class="pl-3" href="">Narotu</a>
        <a class="pl-3" href="">Tranh màu</a>
        <a class="pl-3" href="">Bitcoin</a>
        <a class="pl-3" href="">Blockchian</a>
        <a class="pl-3" href="">Đi xa</a>
        <a class="pl-3" href="">Phượt</a>
    </div>
</div>
