USE [websitedatmon]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Flag] [int] NOT NULL,
	[Reply] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[TableId] [int] NULL,
 CONSTRAINT [PK_dbo.Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[TableID] [int] NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[Positon] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExportDate] [datetime] NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Trash] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[IsPayment] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[CateID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[ImageList] [nvarchar](max) NULL,
	[NewPromotion] [nvarchar](max) NULL,
	[Installment] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Specification] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProPrice] [float] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOwner]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Longiude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Orders] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Order] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/09/2022 14:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[PayTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Bánh mỳ', N'banh-my', 11, 0, N's', N's', 1, CAST(N'2020-11-24T08:56:18.000' AS DateTime), 2, CAST(N'2022-02-22T20:27:18.580' AS DateTime), 103)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (5, N'Mỳ', N'my', 13, 0, N's', N's', 1, CAST(N'2020-11-24T08:56:56.000' AS DateTime), 2, CAST(N'2022-02-22T20:27:33.673' AS DateTime), 103)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (6, N'Cơm', N'com', 13, 0, N's', N's', 1, CAST(N'2020-11-24T12:28:49.000' AS DateTime), 2, CAST(N'2022-02-22T20:25:59.150' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON 

INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (3, N'Mua nhiều', 10000000, N'Những người dùng mua trên 10 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2021-04-24T23:02:35.260' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (5, N'Mua vừa', 5000000, N'Những người dùng mua trên 5 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2021-04-24T23:02:38.793' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (6, N'Mua ít', 1000000, N'Những người dùng mua trên 1 triệu', CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, CAST(N'2021-04-22T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (1, N'Sách theo loạif', N'sach-theo-loaif', N'category', 1)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (2, N'Văn học', N'van-hoc', N'category', 2)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (3, N'Bánh mỳ', N'banh-my', N'category', 3)
SET IDENTITY_INSERT [dbo].[Link] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Trang Chủ', N'custom', N'/', NULL, 0, 1, N'header', 2, CAST(N'2020-11-24T09:17:28.960' AS DateTime), 0, CAST(N'2021-04-17T18:04:55.997' AS DateTime), 103)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin tức', N'custom', N'tin-tuc', NULL, 0, 1, N'header', 1, CAST(N'2020-11-24T09:17:35.303' AS DateTime), 0, CAST(N'2020-11-24T09:17:39.463' AS DateTime), 2)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Giới thiệu', N'page', N'gioi-thieu', 1, 0, 1, N'header', 2, CAST(N'2020-11-24T09:17:42.480' AS DateTime), 0, CAST(N'2021-04-17T18:02:42.727' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (1, N'20220508110557', 111, CAST(N'2022-05-08T23:11:57.410' AS DateTime), CAST(N'2022-05-09T01:17:35.847' AS DateTime), N'', N'minh nha', N'01223415449', N'', 2, NULL, CAST(N'2022-05-09T01:17:35.847' AS DateTime), 112, 1)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (2, N'20220509010515', 111, CAST(N'2022-05-09T01:14:15.150' AS DateTime), CAST(N'2022-05-09T01:14:45.050' AS DateTime), N'', N'minh nha', N'01223415449', N'', 2, NULL, CAST(N'2022-05-09T01:14:45.050' AS DateTime), 112, 0)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (3, N'20220509010509', 111, CAST(N'2022-05-09T01:20:09.210' AS DateTime), CAST(N'2022-05-09T14:05:29.967' AS DateTime), N'', N'minh nha', N'01223415449', N'', 3, NULL, CAST(N'2022-05-09T14:05:29.973' AS DateTime), 112, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (47, 31, 38, 500000, 1, 500000)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (48, 1, 30, 20000, 1, 20000)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (49, 2, 30, 20000, 1, 20000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOwner] ON 

INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (1, N'456 Tôn Đức Thắng, Hòa Khánh Nam, Liên Chiểu', CAST(N'2021-06-09T21:01:52.000' AS DateTime), 103, CAST(N'2022-02-22T22:30:52.217' AS DateTime), 103, 1, N'108.159324', N'16.0613392')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (2, N'436 Điện Biên Phủ, Thanh Khê, Đà Nẵng', CAST(N'2021-06-09T21:05:45.000' AS DateTime), 103, CAST(N'2022-02-22T22:31:09.377' AS DateTime), 103, 1, N'108.1859479', N'16.0660573')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (3, N'234 Nguyễn Văn Linh, Thanh Khê, Đà Nẵng', CAST(N'2022-03-29T15:58:10.510' AS DateTime), 103, CAST(N'2022-03-29T15:58:10.510' AS DateTime), 103, 1, N'108.2059543', N'16.0596987')
SET IDENTITY_INSERT [dbo].[ProductOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Combo Giảm Giá', NULL, N'1', N'combo-giam-gia.jpg', 0, 1, CAST(N'2020-11-24T00:17:10.000' AS DateTime), 4, CAST(N'2022-02-22T20:31:45.103' AS DateTime), 103)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Giờ Vàng ', NULL, N'1', N'gio-vang-.jpg', 0, 1, CAST(N'2020-11-24T00:19:33.000' AS DateTime), 4, CAST(N'2022-02-22T20:33:15.157' AS DateTime), 103)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Flash Sale', NULL, N'1', N'flash-sale.jpg', 0, 1, CAST(N'2020-11-24T00:22:45.000' AS DateTime), 4, CAST(N'2022-02-22T20:33:42.490' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Tin khuyến mãi', N'tin-khuyen-mai', 0, 0, N'Tin hot', N'Tin hot', 1, CAST(N'2022-02-22T20:37:58.647' AS DateTime), 103, CAST(N'2022-02-22T20:37:58.647' AS DateTime), 103)
INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin hằng ngày', N'tin-hang-ngay', 0, 0, N'Tin thường ngày', N'Tin thường ngày', 1, CAST(N'2022-02-22T22:27:15.267' AS DateTime), 103, CAST(N'2022-02-22T22:27:15.267' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (103, N'Hoàng Dũng', N'hoangdung', N'OQcCKWJ2focYl3ivKea+pA==', N'hoangdung@gmail.com', 1, 394073759, N'ok', N'', 1, 1, CAST(N'2021-04-11T11:36:31.073' AS DateTime), 1, CAST(N'2021-04-11T11:36:31.073' AS DateTime), 1, 7, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (110, N'Lê Văn A', N'levana', N'JfnnlDI7RTiF9RgfG2JNCw==', N'levana@gmail.com', 1, 394073859, N'Đà Nẵng ', N'', 1, 1, CAST(N'2022-03-29T12:46:31.953' AS DateTime), 1, CAST(N'2022-03-29T12:46:31.953' AS DateTime), 1, 7, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (111, N'minh nha', N'minhnha1999', N'JfnnlDI7RTiF9RgfG2JNCw==', N'nguyennguyen@gmail.com', 1, 1223415449, N'tam tien', N'', 0, 1, CAST(N'2022-05-08T23:11:28.373' AS DateTime), 1, CAST(N'2022-05-08T23:11:28.373' AS DateTime), 1, 7, 69000)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsPayment]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [GroupId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [PayTotal]
GO
